<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">

	<!-- 控制台标志化输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 将日志写入日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/logback.log</file>
		<append>true</append><!-- 日志追加 -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<!-- 日志写入数据库 -->
	<!-- 注意事项: 数据库里面必须存在三张表(logback默认使用数据表,不能改变名称): 
		 logging_event,
		 logging_event_exception,
		 logging_event_property
	 -->
	<!-- <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
			<dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
				<driverClass>com.mysql.jdbc.Driver</driverClass>
				<jdbcUrl>jdbc:mysql://10.10.2.50:3306/cms</jdbcUrl>
				<user>root</user>
				<password>root</password>
			</dataSource>
		</connectionSource>
	</appender> -->


	<logger name="com.leaf17.leafcms" level="info"></logger>
	<logger name="org.springframework" level="ERROR"></logger>
	<logger name="org.hibernate.validator" level="ERROR"></logger>
	<logger name="org.thymeleaf" level="ERROR"></logger>
	<logger name="com.leaf17.leafcms.mapper" level="ERROR"></logger>
	<logger name="org.hibernate" level="ERROR"></logger>
	<logger name="springfox.documentation" level="ERROR"></logger>
	<logger name="net.sf.ehcache" level="ERROR"></logger>
	<logger name="org.mybatis" level="ERROR"></logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="DB" /> -->
	</root>

</configuration>
